<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>vue-todo</title>
  </head>
  <body>
    <div id="app">
      <!-- <input type="text" v-model="newTodo" v-on:keyup.enter="addItem">
      <ol>
        <li v-for="todoItem in todoList">
          <input type="checkbox" :checked="todoItem.finish" v-model="todoItem.finish">
          <span>{{todoItem.content}}</span>
          <span v-on:click="deleteItem(todoItem)">x</span>
        </li>
      </ol> -->
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
